scope: {{ patroni_scope }}
namespace: /patroni/
name: {{ node_name }}

etcd:
  hosts:
    {% for host in groups['postgres_cluster'] %}
    - {{ hostvars[host]['node_ip'] }}:2379
    {% endfor %}

bootstrap:
  initdb:
    - encoding: UTF8
    - data-checksums
    - locale: en_US.UTF-8
  dcs:
    ttl: {{ patroni_ttl }}
    loop_wait: {{ patroni_loop_wait }}
    retry_timeout: {{ patroni_retry_timeout }}
    maximum_lag_on_failover: {{ patroni_maximum_lag_on_failover }}
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        listen_addresses: "0.0.0.0"
        port: 5432
        wal_level: {{ postgresql_wal_level }}
        hot_standby: {{ postgresql_hot_standby }}
        wal_keep_size: 1GB
        max_wal_senders: {{ postgresql_max_wal_senders }}
        max_replication_slots: {{ postgresql_max_replication_slots }}
        max_connections: {{ postgresql_max_connections }}
        shared_buffers: "{{ postgresql_shared_buffers }}"
        effective_cache_size: "{{ postgresql_effective_cache_size }}"
        maintenance_work_mem: "{{ postgresql_maintenance_work_mem }}"
        checkpoint_completion_target: 0.9
        wal_buffers: 16MB
        default_statistics_target: 100
        random_page_cost: 1.1
        archive_mode: "on"
        archive_command: "/bin/true"
  pg_hba:
    - host replication replicator 0.0.0.0/0 md5
    - host all all 0.0.0.0/0 md5
  users:
    admin:
      password: {{ postgres_superuser_password }}
      options:
        - createrole
        - createdb

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ node_ip }}:5432
  data_dir: {{ postgresql_data_dir }}
  bin_dir: {{ postgresql_bin_dir }}
  authentication:
    superuser:
      username: postgres
      password: {{ postgres_superuser_password }}
    replication:
      username: replicator
      password: {{ postgres_replication_password }}
    rewind:
      username: rewind_user
      password: {{ postgres_rewind_password }}

tags:
  nofailover: false
  clonefrom: true