scope: {{ cluster_name }}
namespace: /patroni/
name: {{ node_name }}

etcd:
  hosts:
    {% for host in groups['postgres_cluster'] %}
    - {{ hostvars[host]['node_ip'] }}:2379
    {% endfor %}
  # Если etcd требует аутентификации (опционально)
  # username: etcduser
  # password: {{ etcd_peer_password }}

bootstrap:
  initdb:
    - encoding: UTF8
    - data-checksums
    - locale: en_US.UTF-8
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        listen_addresses: "0.0.0.0"
        port: 5432
        wal_level: logical
        hot_standby: "on"
        wal_keep_size: 1GB
        max_wal_senders: 10
        max_replication_slots: 10
        max_connections: 200
        shared_buffers: 256MB
        effective_cache_size: 1GB
        maintenance_work_mem: 64MB
        checkpoint_completion_target: 0.9
        wal_buffers: 16MB
        default_statistics_target: 100
        random_page_cost: 1.1
        archive_mode: "on"
        archive_command: "/bin/true"
  {% if init_script_path is defined %}
  post_init: /tmp/init_postgres.sh
  {% endif %}
  pg_hba:
    - host replication replicator 0.0.0.0/0 md5
    - host all all 0.0.0.0/0 md5
  users:
    admin:
      password: {{ postgres_superuser_password }}  # ИЗ VAULT
      options:
        - createrole
        - createdb

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ node_ip }}:5432
  data_dir: {{ postgresql_data_dir }}
  bin_dir: /usr/lib/postgresql/{{ postgresql_version }}/bin
  authentication:
    superuser:
      username: postgres
      password: {{ postgres_superuser_password }}  # ИЗ VAULT
    replication:
      username: replicator
      password: {{ postgres_replication_password }}  # ИЗ VAULT
    rewind:
      username: rewind_user
      password: {{ postgres_rewind_password }}  # ИЗ VAULT

tags:
  nofailover: false
  clonefrom: true